@using ContabilitaWeb.Models
@model List<Movimento>


@{
    var totale = 0M;
}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Azienda</th>
            <th scope="col">Tipo</th>
            <th scope="col">Numero</th>
            <th scope="col">Importo</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var movimento in Model)
            {
                <tr>
                    <td>@movimento.Data.ToString("dd/MM/yyyy")</td>
                    <td>@movimento.RagioneSociale</td>
                    <td>@movimento.Tipo</td>
                    <td>@movimento.Numero</td>
                    <td>@movimento.Importo</td>
                    @switch (@movimento.Tipo)
                    {
                        case "Fattura":
                            totale -= movimento.Importo;
                            break;
                        case "Pagamento":
                        case "Nota di credito":
                        default:
                            totale += movimento.Importo;
                            break;
                    }
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="fw-bold">Saldo: @totale</td>
        </tr>
    </tfoot>
</table>