@using ContabilitaWeb.Models
@model List<Pagamento>

@{
    var itIT = System.Globalization.CultureInfo.CreateSpecificCulture("it-IT");
}

<h4>Visualizza</h4>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Modalita</th>
            <th scope="col">Data</th>
            <th scope="col">Importo</th>
            <th scope="col">NumAssegnoBonifico</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Azienda</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null) {
        foreach(var pagamento in Model) {
            <tr>
                <th scope="row">@pagamento.Modalita</th>
                <td>@pagamento.Data.ToString("dd/MM/yyyy")</td>
                <td>@pagamento.Importo.ToString("n", itIT) &euro;</td>
                <td>@pagamento.NumAssegnoBonifico</td>
                <td>@pagamento.Descrizione</td>
                <td>@pagamento.AziendaNavigation.RagioneSociale</td>
            </tr>
            }
        }
    </tbody>
</table>